# Multi Imputation with R

In [4]:
library(mice)

initial_file_path = "./titanic_original.csv"
table <- read.csv(file=initial_file_path, header=TRUE, sep=",", stringsAsFactors = FALSE)

In [2]:
table

     pclass survived name                                              sex
1    1      1        Allen, Miss. Elisabeth Walton                     female
2    1      1        Allison, Master. Hudson Trevor                    male
3    1      0        Allison, Miss. Helen Loraine                      female
4    1      0        Allison, Mr. Hudson Joshua Creighton              male
5    1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   female
6    1      1        Anderson, Mr. Harry                               male
7    1      1        Andrews, Miss. Kornelia Theodosia                 female
8    1      0        Andrews, Mr. Thomas Jr                            male
9    1      1        Appleton, Mrs. Edward Dale (Charlotte Lamson)     female
10   1      0        Artagaveytia, Mr. Ramon                           male
11   1      0        Astor, Col. John Jacob                            male
12   1      1        Astor, Mrs. John Jacob (Madeleine Talmadge Force) female
13   1      1        Aubart, Mme. Leontine Pauline                     female
14   1      1        Barber, Miss. Ellen "Nellie"                      female
15   1      1        Barkworth, Mr. Algernon Henry Wilson              male
16   1      0        Baumann, Mr. John D                               male
17   1      0        Baxter, Mr. Quigg Edmond                          male
18   1      1        Baxter, Mrs. James (Helene DeLaudeniere Chaput)   female
19   1      1        Bazzani, Miss. Albina                             female
20   1      0        Beattie, Mr. Thomson                              male
21   1      1        Beckwith, Mr. Richard Leonard                     male
22   1      1        Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
23   1      1        Behr, Mr. Karl Howell                             male
24   1      1        Bidois, Miss. Rosalie                             female
25   1      1        Bird, Miss. Ellen                                 female
26   1      0        Birnbaum, Mr. Jakob                               male
27   1      1        Bishop, Mr. Dickinson H                           male
28   1      1        Bishop, Mrs. Dickinson H (Helen Walton)           female
29   1      1        Bissette, Miss. Amelia                            female
30   1      1        Bjornstrom-Steffansson, Mr. Mauritz Hakan         male
⋮    ⋮      ⋮        ⋮                                                 ⋮
1281  3      0       Vovk, Mr. Janko                                   male
1282  3      0       Waelens, Mr. Achille                              male
1283  3      0       Ware, Mr. Frederick                               male
1284  3      0       Warren, Mr. Charles William                       male
1285  3      0       Webber, Mr. James                                 male
1286  3      0       Wenzel, Mr. Linhart                               male
1287  3      1       Whabee, Mrs. George Joseph (Shawneene Abi-Saab)   female
1288  3      0       Widegren, Mr. Carl/Charles Peter                  male
1289  3      0       Wiklund, Mr. Jakob Alfred                         male
1290  3      0       Wiklund, Mr. Karl Johan                           male
1291  3      1       Wilkes, Mrs. James (Ellen Needs)                  female
1292  3      0       Willer, Mr. Aaron ("Abi Weller")                  male
1293  3      0       Willey, Mr. Edward                                male
1294  3      0       Williams, Mr. Howard Hugh "Harry"                 male
1295  3      0       Williams, Mr. Leslie                              male
1296  3      0       Windelov, Mr. Einar                               male
1297  3      0       Wirz, Mr. Albert                                  male
1298  3      0       Wiseman, Mr. Phillippe                            male
1299  3      0       Wittevrongel, Mr. Camille                         male
1300  3      0       Yasbeck, Mr. Antoni                               male
1301  3      1       Yasbeck, Mrs. Antoni (Selini Alexander)           female
1302  3      0       Youseff, Mr. Gerious                              male
1303  3      0       Yousif, Mr. Wazli                                 male
1304  3      0       Yousseff, Mr. Gerious                             male
1305  3      0       Zabour, Miss. Hileni                              female
1306  3      0       Zabour, Miss. Thamine                             female
1307  3      0       Zakarian, Mr. Mapriededer                         male
1308  3      0       Zakarian, Mr. Ortin                               male
1309  3      0       Zimmerman, Mr. Leo                                male
1310 NA     NA
     age     sibsp parch ticket           fare     cabin   embarked boat body
1    29.0000 0     0     24160            211.3375 B5      S        2     NA
2     0.9167 1     2     113781           151.5500 C22 C26 S        11    NA
3     2.0000 1     2     113781           151.5500 C22 C26 S              NA
4    30.0000 1     2     113781           151.5500 C22 C26 S             135
5    25.0000 1     2     113781           151.5500 C22 C26 S              NA
6    48.0000 0     0     19952             26.5500 E12     S        3     NA
7    63.0000 1     0     13502             77.9583 D7      S        10    NA
8    39.0000 0     0     112050             0.0000 A36     S              NA
9    53.0000 2     0     11769             51.4792 C101    S        D     NA
10   71.0000 0     0     PC 17609          49.5042         C              22
11   47.0000 1     0     PC 17757         227.5250 C62 C64 C             124
12   18.0000 1     0     PC 17757         227.5250 C62 C64 C        4     NA
13   24.0000 0     0     PC 17477          69.3000 B35     C        9     NA
14   26.0000 0     0     19877             78.8500         S        6     NA
15   80.0000 0     0     27042             30.0000 A23     S        B     NA
16        NA 0     0     PC 17318          25.9250         S              NA
17   24.0000 0     1     PC 17558         247.5208 B58 B60 C              NA
18   50.0000 0     1     PC 17558         247.5208 B58 B60 C        6     NA
19   32.0000 0     0     11813             76.2917 D15     C        8     NA
20   36.0000 0     0     13050             75.2417 C6      C        A     NA
21   37.0000 1     1     11751             52.5542 D35     S        5     NA
22   47.0000 1     1     11751             52.5542 D35     S        5     NA
23   26.0000 0     0     111369            30.0000 C148    C        5     NA
24   42.0000 0     0     PC 17757         227.5250         C        4     NA
25   29.0000 0     0     PC 17483         221.7792 C97     S        8     NA
26   25.0000 0     0     13905             26.0000         C             148
27   25.0000 1     0     11967             91.0792 B49     C        7     NA
28   19.0000 1     0     11967             91.0792 B49     C        7     NA
29   35.0000 0     0     PC 17760         135.6333 C99     S        8     NA
30   28.0000 0     0     110564            26.5500 C52     S        D     NA
⋮    ⋮       ⋮     ⋮     ⋮                ⋮        ⋮       ⋮        ⋮    ⋮
1281 22.0     0     0    349252            7.8958          S              NA
1282 22.0     0     0    345767            9.0000          S              NA
1283   NA     0     0    359309            8.0500          S              NA
1284   NA     0     0    C.A. 49867        7.5500          S              NA
1285   NA     0     0    SOTON/OQ 3101316  8.0500          S              NA
1286 32.5     0     0    345775            9.5000          S             298
1287 38.0     0     0    2688              7.2292          C        C     NA
1288 51.0     0     0    347064            7.7500          S              NA
1289 18.0     1     0    3101267           6.4958          S             314
1290 21.0     1     0    3101266           6.4958          S              NA
1291 47.0     1     0    363272            7.0000          S              NA
1292   NA     0     0    3410              8.7125          S              NA
1293   NA     0     0    S.O./P.P. 751     7.5500          S              NA
1294   NA     0     0    A/5 2466          8.0500          S              NA
1295 28.5     0     0    54636            16.1000          S              14
1296 21.0     0     0    SOTON/OQ 3101317  7.2500          S              NA
1297 27.0     0     0    315154            8.6625          S             131
1298   NA     0     0    A/4. 34244        7.2500          S              NA
1299 36.0     0     0    345771            9.5000          S              NA
1300 27.0     1     0    2659             14.4542          C        C     NA
1301 15.0     1     0    2659             14.4542          C              NA
1302 45.5     0     0    2628              7.2250          C             312
1303   NA     0     0    2647              7.2250          C              NA
1304   NA     0     0    2627             14.4583          C              NA
1305 14.5     1     0    2665             14.4542          C             328
1306   NA     1     0    2665             14.4542          C              NA
1307 26.5     0     0    2656              7.2250          C             304
1308 27.0     0     0    2670              7.2250          C              NA
1309 29.0     0     0    315082            7.8750          S              NA
1310   NA    NA    NA                          NA                         NA
     home.dest
1    St Louis, MO
2    Montreal, PQ / Chesterville, ON
3    Montreal, PQ / Chesterville, ON
4    Montreal, PQ / Chesterville, ON
5    Montreal, PQ / Chesterville, ON
6    New York, NY
7    Hudson, NY
8    Belfast, NI
9    Bayside, Queens, NY
10   Montevideo, Uruguay
11   New York, NY
12   New York, NY
13   Paris, France
14
15   Hessle, Yorks
16   New York, NY
17   Montreal, PQ
18   Montreal, PQ
19
20   Winnipeg, MN
21   New York, NY
22   New York, NY
23   New York, NY
24
25
26   San Francisco, CA
27   Dowagiac, MI
28   Dowagiac, MI
29
30   Stockholm, Sweden / Washington, DC
⋮    ⋮
1281
1282 Antwerp, Belgium / Stanton, OH
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310

# Percentage of entries missing per column

In [5]:
pMiss <- function(x){sum(is.na(x))/length(x)*100}
#2 indicates the columns 
apply(table,2,pMiss)

     pclass    survived        name         sex         age       sibsp
 0.07633588  0.07633588  0.00000000  0.00000000 20.15267176  0.07633588
      parch      ticket        fare       cabin    embarked        boat
 0.07633588  0.00000000  0.15267176  0.00000000  0.00000000  0.00000000
       body   home.dest
90.76335878  0.00000000

# Using Multi Imputation

In [4]:
tempData <- mice(table,m=5,meth='pmm',seed=500)

 iter imp variable
  1   1  pclass  survived  age  sibsp  parch  fare  body
  1   2  pclass  survived  age  sibsp  parch  fare  body
  1   3  pclass  survived  age  sibsp  parch  fare  body
  1   4  pclass  survived  age  sibsp  parch  fare  body
  1   5  pclass  survived  age  sibsp  parch  fare  body
  2   1  pclass  survived  age  sibsp  parch  fare  body
  2   2  pclass  survived  age  sibsp  parch  fare  body
  2   3  pclass  survived  age  sibsp  parch  fare  body
  2   4  pclass  survived  age  sibsp  parch  fare  body
  2   5  pclass  survived  age  sibsp  parch  fare  body
  3   1  pclass  survived  age  sibsp  parch  fare  body
  3   2  pclass  survived  age  sibsp  parch  fare  body
  3   3  pclass  survived  age  sibsp  parch  fare  body
  3   4  pclass  survived  age  sibsp  parch  fare  body
  3   5  pclass  survived  age  sibsp  parch  fare  body
  4   1  pclass  survived  age  sibsp  parch  fare  body
  4   2  pclass  survived  age  sibsp  parch  fare  body
  4   3  pclass  survived  age  sibsp  parch  fare  body
  4   4  pclass  survived  age  sibsp  parch  fare  body
  4   5  pclass  survived  age  sibsp  parch  fare  body
  5   1  pclass  survived  age  sibsp  parch  fare  body
  5   2  pclass  survived  age  sibsp  parch  fare  body
  5   3  pclass  survived  age  sibsp  parch  fare  body
  5   4  pclass  survived  age  sibsp  parch  fare  body
  5   5  pclass  survived  age  sibsp  parch  fare  body

# Thanks to MICE I have a table with 5 new columns , each entry of the column is a possible value of the missing value in the row

In [6]:
tmp <- tempData$imp$age
#Renaiming The Columns Name
colnames(tmp) <- c("age1","age2","age3","age4","age5") 
head(tmp,n=15)
#I'll pick the median for each entry in order to reduce at minimum the error,
#to avoid very large or very

ERROR: Error in eval(expr, envir, enclos): object 'tempData' not found

# Choose the median!

In [66]:
tmp.list <- split(tmp, seq(nrow(tmp)))
out <- c()
for (i in 1:NROW(tmp.list)){
    row <- rapply(tmp.list[[i]],c)
    sort(row)
    out[i] <- row[[3]] 
}
out[1]
out[1] <- out[3]
out[1]

[1] 38

[1] 47

In [69]:
index = 1
for (i in 1:NROW(table)){
    if(is.na(table[i,5])){
        table[i,5] <- out[index]
        index <- index + 1
    }
}

In [75]:
table

     pclass survived name                                              sex
1    1      1        Allen, Miss. Elisabeth Walton                     female
2    1      1        Allison, Master. Hudson Trevor                    male
3    1      0        Allison, Miss. Helen Loraine                      female
4    1      0        Allison, Mr. Hudson Joshua Creighton              male
5    1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels)   female
6    1      1        Anderson, Mr. Harry                               male
7    1      1        Andrews, Miss. Kornelia Theodosia                 female
8    1      0        Andrews, Mr. Thomas Jr                            male
9    1      1        Appleton, Mrs. Edward Dale (Charlotte Lamson)     female
10   1      0        Artagaveytia, Mr. Ramon                           male
11   1      0        Astor, Col. John Jacob                            male
12   1      1        Astor, Mrs. John Jacob (Madeleine Talmadge Force) female
13   1      1        Aubart, Mme. Leontine Pauline                     female
14   1      1        Barber, Miss. Ellen "Nellie"                      female
15   1      1        Barkworth, Mr. Algernon Henry Wilson              male
16   1      0        Baumann, Mr. John D                               male
17   1      0        Baxter, Mr. Quigg Edmond                          male
18   1      1        Baxter, Mrs. James (Helene DeLaudeniere Chaput)   female
19   1      1        Bazzani, Miss. Albina                             female
20   1      0        Beattie, Mr. Thomson                              male
21   1      1        Beckwith, Mr. Richard Leonard                     male
22   1      1        Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
23   1      1        Behr, Mr. Karl Howell                             male
24   1      1        Bidois, Miss. Rosalie                             female
25   1      1        Bird, Miss. Ellen                                 female
26   1      0        Birnbaum, Mr. Jakob                               male
27   1      1        Bishop, Mr. Dickinson H                           male
28   1      1        Bishop, Mrs. Dickinson H (Helen Walton)           female
29   1      1        Bissette, Miss. Amelia                            female
30   1      1        Bjornstrom-Steffansson, Mr. Mauritz Hakan         male
⋮    ⋮      ⋮        ⋮                                                 ⋮
1281  3      0       Vovk, Mr. Janko                                   male
1282  3      0       Waelens, Mr. Achille                              male
1283  3      0       Ware, Mr. Frederick                               male
1284  3      0       Warren, Mr. Charles William                       male
1285  3      0       Webber, Mr. James                                 male
1286  3      0       Wenzel, Mr. Linhart                               male
1287  3      1       Whabee, Mrs. George Joseph (Shawneene Abi-Saab)   female
1288  3      0       Widegren, Mr. Carl/Charles Peter                  male
1289  3      0       Wiklund, Mr. Jakob Alfred                         male
1290  3      0       Wiklund, Mr. Karl Johan                           male
1291  3      1       Wilkes, Mrs. James (Ellen Needs)                  female
1292  3      0       Willer, Mr. Aaron ("Abi Weller")                  male
1293  3      0       Willey, Mr. Edward                                male
1294  3      0       Williams, Mr. Howard Hugh "Harry"                 male
1295  3      0       Williams, Mr. Leslie                              male
1296  3      0       Windelov, Mr. Einar                               male
1297  3      0       Wirz, Mr. Albert                                  male
1298  3      0       Wiseman, Mr. Phillippe                            male
1299  3      0       Wittevrongel, Mr. Camille                         male
1300  3      0       Yasbeck, Mr. Antoni                               male
1301  3      1       Yasbeck, Mrs. Antoni (Selini Alexander)           female
1302  3      0       Youseff, Mr. Gerious                              male
1303  3      0       Yousif, Mr. Wazli                                 male
1304  3      0       Yousseff, Mr. Gerious                             male
1305  3      0       Zabour, Miss. Hileni                              female
1306  3      0       Zabour, Miss. Thamine                             female
1307  3      0       Zakarian, Mr. Mapriededer                         male
1308  3      0       Zakarian, Mr. Ortin                               male
1309  3      0       Zimmerman, Mr. Leo                                male
1310 NA     NA
     age     sibsp parch ticket           fare     cabin   embarked boat body
1    29.0000 0     0     24160            211.3375 B5      S        2     NA
2     0.9167 1     2     113781           151.5500 C22 C26 S        11    NA
3     2.0000 1     2     113781           151.5500 C22 C26 S              NA
4    30.0000 1     2     113781           151.5500 C22 C26 S             135
5    25.0000 1     2     113781           151.5500 C22 C26 S              NA
6    48.0000 0     0     19952             26.5500 E12     S        3     NA
7    63.0000 1     0     13502             77.9583 D7      S        10    NA
8    39.0000 0     0     112050             0.0000 A36     S              NA
9    53.0000 2     0     11769             51.4792 C101    S        D     NA
10   71.0000 0     0     PC 17609          49.5042         C              22
11   47.0000 1     0     PC 17757         227.5250 C62 C64 C             124
12   18.0000 1     0     PC 17757         227.5250 C62 C64 C        4     NA
13   24.0000 0     0     PC 17477          69.3000 B35     C        9     NA
14   26.0000 0     0     19877             78.8500         S        6     NA
15   80.0000 0     0     27042             30.0000 A23     S        B     NA
16   47.0000 0     0     PC 17318          25.9250         S              NA
17   24.0000 0     1     PC 17558         247.5208 B58 B60 C              NA
18   50.0000 0     1     PC 17558         247.5208 B58 B60 C        6     NA
19   32.0000 0     0     11813             76.2917 D15     C        8     NA
20   36.0000 0     0     13050             75.2417 C6      C        A     NA
21   37.0000 1     1     11751             52.5542 D35     S        5     NA
22   47.0000 1     1     11751             52.5542 D35     S        5     NA
23   26.0000 0     0     111369            30.0000 C148    C        5     NA
24   42.0000 0     0     PC 17757         227.5250         C        4     NA
25   29.0000 0     0     PC 17483         221.7792 C97     S        8     NA
26   25.0000 0     0     13905             26.0000         C             148
27   25.0000 1     0     11967             91.0792 B49     C        7     NA
28   19.0000 1     0     11967             91.0792 B49     C        7     NA
29   35.0000 0     0     PC 17760         135.6333 C99     S        8     NA
30   28.0000 0     0     110564            26.5500 C52     S        D     NA
⋮    ⋮       ⋮     ⋮     ⋮                ⋮        ⋮       ⋮        ⋮    ⋮
1281 22.0     0     0    349252            7.8958          S              NA
1282 22.0     0     0    345767            9.0000          S              NA
1283 20.0     0     0    359309            8.0500          S              NA
1284 23.0     0     0    C.A. 49867        7.5500          S              NA
1285 36.0     0     0    SOTON/OQ 3101316  8.0500          S              NA
1286 32.5     0     0    345775            9.5000          S             298
1287 38.0     0     0    2688              7.2292          C        C     NA
1288 51.0     0     0    347064            7.7500          S              NA
1289 18.0     1     0    3101267           6.4958          S             314
1290 21.0     1     0    3101266           6.4958          S              NA
1291 47.0     1     0    363272            7.0000          S              NA
1292 25.0     0     0    3410              8.7125          S              NA
1293 24.0     0     0    S.O./P.P. 751     7.5500          S              NA
1294  6.0     0     0    A/5 2466          8.0500          S              NA
1295 28.5     0     0    54636            16.1000          S              14
1296 21.0     0     0    SOTON/OQ 3101317  7.2500          S              NA
1297 27.0     0     0    315154            8.6625          S             131
1298 38.5     0     0    A/4. 34244        7.2500          S              NA
1299 36.0     0     0    345771            9.5000          S              NA
1300 27.0     1     0    2659             14.4542          C        C     NA
1301 15.0     1     0    2659             14.4542          C              NA
1302 45.5     0     0    2628              7.2250          C             312
1303 26.5     0     0    2647              7.2250          C              NA
1304 32.0     0     0    2627             14.4583          C              NA
1305 14.5     1     0    2665             14.4542          C             328
1306 50.0     1     0    2665             14.4542          C              NA
1307 26.5     0     0    2656              7.2250          C             304
1308 27.0     0     0    2670              7.2250          C              NA
1309 29.0     0     0    315082            7.8750          S              NA
1310 40.0    NA    NA                          NA                         NA
     home.dest
1    St Louis, MO
2    Montreal, PQ / Chesterville, ON
3    Montreal, PQ / Chesterville, ON
4    Montreal, PQ / Chesterville, ON
5    Montreal, PQ / Chesterville, ON
6    New York, NY
7    Hudson, NY
8    Belfast, NI
9    Bayside, Queens, NY
10   Montevideo, Uruguay
11   New York, NY
12   New York, NY
13   Paris, France
14
15   Hessle, Yorks
16   New York, NY
17   Montreal, PQ
18   Montreal, PQ
19
20   Winnipeg, MN
21   New York, NY
22   New York, NY
23   New York, NY
24
25
26   San Francisco, CA
27   Dowagiac, MI
28   Dowagiac, MI
29
30   Stockholm, Sweden / Washington, DC
⋮    ⋮
1281
1282 Antwerp, Belgium / Stanton, OH
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310

# We can easily see that all entries of age is filled

In [76]:
apply(table,2,pMiss)

     pclass    survived        name         sex         age       sibsp
 0.07633588  0.07633588  0.00000000  0.00000000  0.00000000  0.07633588
      parch      ticket        fare       cabin    embarked        boat
 0.07633588  0.00000000  0.15267176  0.00000000  0.00000000  0.00000000
       body   home.dest
90.76335878  0.00000000